<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tango_Browser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Tango_Browser.Properties.Settings>
            <setting name="SetKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Google" serializeAs="String">
                <value>https://www.google.com/search?q=</value>
            </setting>
            <setting name="Bing" serializeAs="String">
                <value>https://www.bing.com/search?q=</value>
            </setting>
            <setting name="DuckDuckGo" serializeAs="String">
                <value>https://www.duckduckgo.com/search?q=</value>
            </setting>
        </Tango_Browser.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Svg" publicKeyToken="12a0bac221edeae2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>